<h1 class="concept">Introduction</h1>


<div class="container"><p> 
    To check the status of transactions, follow these steps:

    Locate the transaction you want to check in the list of transactions.
    Click the "Check" button next to the desired transaction.
    Once the check is complete, you will see the transaction's background color change according to the result of the check:
    Dangerous - orange color
    Suspicious - light green color
    Normal - blue color
    Now you know the status of each transaction and can react accordingly to potential issues or suspicions.</p></div>
<app-table [transactions]="transactions"></app-table>
